<footer class="d-flex justify-content-between px-3 align-items-center py-2 bg-dark text-white">
    <div class="flex-1 w-25">
        <%= link_to "artiCULATE", root_path, class: "navbar-brand txtd-none" %>
    </div>
    <div class="category-links flex-2 w-50">
        <ul class="w-100 d-flex align-items-center list-unstyled justify-content-center mb-0">
            <li class="">
                    <%= link_to "Privacy Policy", root_path, class: "" %>
                </li>
                <li class="pl-2">
                    <%= link_to "Terms & Conditions", root_path, class: "" %>
                </li>
                <li class="pl-3">
                    <p class="mb-0 copyright-text">Copyright 2021. All right reserved.</p>
                </li>

        </ul>
    </div>
    <div class="nav-right-links flex-1 w-25 d-flex justify-content-end align-items-center ">
        <p class="mb-0">Made with <span>&hearts;</span> BY <a href="https://www.linkedin.com/in/enkog" class="main_color">Enkodes</a> </p>
            <div class="ml-3">

            </div>
    </div>
</footer>
